*{
  padding: 0;
}
.baitap{
  padding-left: 40px;
}
img {
  width: 300px;
  height: 300px;
  border-radius: 300px;
}
.invisible{
  display: none;
}
h1 {
  font-size: 3em;
}
table{
  width: 30%;
  margin-bottom: 50px;
}
th {
  text-align: left;
}